.AuthButtons {
    display: flex;

    position: relative;
}

.AuthButtons .LoginButton {
    background: transparent;
    border: 2px solid rgba(251, 251, 251, 0.4);
    padding-inline: 39px;
}

.AuthButtons .LoginButton:hover {
    background-color: var(--secondary-color);
    color: white;
}

.AuthButtons .Profile {
    display: flex;
    gap: 14px;
    align-items: center;
    margin-inline-end: 24px;
}

.AuthButtons .Profile .Avatar {
    padding: 12px;
    background-color: white;
    border-radius: 10px;
    color: var(--primary-color);
}

.AuthButtons .Profile .Name {
    color: white;
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1%;
    text-transform: capitalize;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .AuthButtons {
        flex-direction: column;
        background-color: white;
    }

    .AuthButtons .LoginButton,
    .AuthButtons .SignUpButton {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: white;
        color: var(--primary-color);
        text-align: start;
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .AuthButtons .LoginButton:hover,
    .AuthButtons .SignUpButton:hover {
        background-color: var(--primary-color);
        color: white;
        border-radius: 0;

    }

    .AuthButtons .Profile {
        padding: 5px 30px 0px;
        align-items: center;
        gap: 5px;
    }


    .AuthButtons .Profile .Avatar {
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }

    .AuthButtons .Profile .Name {
        color: var(--primary-color);

    }
}

@media (max-width: 767px) {
    .AuthButtons {
        flex-direction: column;
        background-color: white;

    }

    .AuthButtons .LoginButton,
    .AuthButtons .SignUpButton {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        background-color: white;
        color: var(--primary-color);
        text-align: start;
        margin: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .AuthButtons .LoginButton:hover,
    .AuthButtons .SignUpButton:hover {
        background-color: var(--primary-color);
        color: white;
        border-radius: 0;
    }

    .AuthButtons .Profile {
        padding: 5px 30px 0px;
        align-items: center;
        gap: 5px;
    }

    .AuthButtons .Profile .Avatar {
        color: var(--primary-color);
        background-color: var(--secondary-color);

    }

    .AuthButtons .Profile .Name {
        color: var(--primary-color);
    }
}