.Card {
    background-color: #FBFBFB;
    width: 100%;
    height: 318px;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    gap: 24px;
    border: 1px solid black;
}

.PhotoBorder {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    border: 2px solid #0957C333;
    padding: 12px;
}

.Photo {
    border-radius: 15px;
    width: 100%;
}