.Card {
    background-color: #FBFBFB;
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    gap: 24px;
    border: 1px solid black;
}

.Card .PhotoColumn {
    width: 168px;
}

.Card .ContentColumn {
    width: 100%;
}

.PhotoBorder {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    border: 2px solid #0957C333;
    padding: 12px;
}

.Photo {
    border-radius: 15px;
    width: 100%;
}



.Content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.Content .Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif;
}

.Content .Header .ProfileNameArea {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.Content .Header .InfoArea {
    display: flex;
    align-items: start;

}

.Content .Header .InfoArea .Info:first-child {
    border-inline-start: none;
}

.Content .Header .InfoArea .Info:last-child {
    border-inline-end: none;
}

.Content .Header .InfoArea .Info {
    display: inline-flex;
    gap: 8px;
    font-weight: 600;
    padding-inline: 16px;
    border-inline: 1px solid #C4C4C4;
}

.Content .Header .InfoArea .Info .Value {
    color: #38CD3E;

}


.Content .Body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Content .Body .Message {
    color: #11101C80;
}

.Content .Footer {
    width: 100%;
    display: flex;
    gap: 48px;
    flex-direction: column;
    margin-top: 24px;
}

.InfoList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.InfoList .InfoItem {
    padding: 8px 16px;
    border-radius: 24px;
    background: #F3F3F3;
}

.InfoList .InfoItem .Key {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-right: 4px;
    color: #8A8A89;
}

.InfoList .InfoItem .ArrItem {
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

.Reviews {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;


}

.Reviews .ReviewItem {
    width: max-content;
    user-select: none;
}

.Reviews .ReviewItem .ReviewContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ReviewContainer .Header {
    display: flex;
    align-items: center;
    gap: 12px;
    width: max-content;
}

.ReviewContainer .Header .ProfileLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
}

.ReviewContainer .Header .ProfileBody {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ReviewContainer .Header .ProfileBody .Name {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    color: #11101C;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.ReviewContainer .Body {
    font-family: Helvetica Neue;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #11101C80;
}

.Button {
    width: max-content;
}

.Button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}