.Container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 64px 128px;
}

.List {
    display: flex;
    flex-direction: column;
    gap: 32px;
    list-style: none;
}