.Appointment {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Appointment .Header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Appointment .Header .Title {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    margin-bottom: 20px;
}

.Appointment .Header .Description {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #11101C80;
}

.Appointment .Profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.Appointment .Profile .Image {
    width: 44px;
    height: 44px;
    border-radius: 15px;
    opacity: 1;
    box-shadow: 1px 1px 1px #E0E0E0;
}


.Appointment .Profile .Info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Appointment .Profile .Info .Sub {
    font-family: Helvetica Neue;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;

    line-height: 16px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #8A8A89;
}

.Appointment .Form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.Appointment .Form .RowGroup {
    display: flex;
    gap: 8px;
}

.Appointment .Form .Group {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.Appointment .Form .Group .Input {
    padding: 16px 18px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    background-color: white;
    border: 1px solid #11101C1A;
    border-radius: 12px;
    outline: none;
}

.Appointment .Form .Group .Error {
    color: #FF5C00;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.Appointment .Form .Button {
    margin-top: 40px;
    padding: 16px 18px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.Appointment .Form .Button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}