.HomePage {
    width: 100%;
    height: 100vh;

}

.HomePage .Content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: #FBFBFB;
}

.Content .HeaderSection {
    width: 50%;
    align-self: center;
    padding-inline: 96px 64px;

}

.HeaderSection .Title {
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -3%;
}

.HeaderSection .SubTitle {
    margin-top: 28px;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -2%;
    margin-bottom: 64px;
}

.HeaderSection .FindNannyButton {
    padding: 18px 50px;
    width: fit-content;
    color: #FBFBFB;
    border: 1px solid #FBFBFB66;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

.HeaderSection .FindNannyButton:hover svg {
    transform: rotate(45deg);
}

.Content .InfoSection {
    width: 50%;
    background-color: rgba(18, 20, 23, 0.6);
    backdrop-filter: brightness(0.6);
    background-image: url("../../assets/homePage.png");
    background-color: white;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    position: relative;
}

.InfoSection .Block {
    background-color: white;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 32px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: black;
    border-radius: 20px;
}

.Block .IconPlaceholder {
    color: white;
    border-radius: 13px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.Block .TextContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.TextContent .BlockSubtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #11101C80;
}

.TextContent .BlockTitle {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #11101C;
    letter-spacing: 0%;
}


@media (min-width: 768px) and (max-width: 1024px) {


    .NavbarTM {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0;
        background-color: var(--primary-color);
    }

    .NavbarTM .NavbarTop {
        padding: 20px 24px;
        display: inline-flex;
        align-items: center;
    }

    .NavbarTM .NavbarTop .NavbarAction {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .NavbarTM .NavbarTop .NavbarAction .MenuToggle {
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    .NavbarTM .NavbarBody {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
}

@media (max-width: 767px) {


    .NavbarTM {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0;
        background-color: var(--primary-color);
    }

    .NavbarTM .NavbarTop {
        padding: 20px 24px;
        display: inline-flex;
        align-items: center;
    }

    .NavbarTM .NavbarTop .NavbarAction {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .NavbarTM .NavbarTop .NavbarAction .MenuToggle {
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    .NavbarTM .NavbarBody {
        display: flex;
        gap: 1px;
        flex-direction: column;
    }

    .InfoSection {
        display: none;
    }

    .Content .HeaderSection {
        width: 100%;
        padding-inline: 24px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}