.HomePage {
    width: 100%;
    height: 100vh;

}

.HomePage .Content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    color: #FBFBFB;
}

.Content .HeaderSection {
    width: 50%;
    align-self: center;
    padding-inline: 96px 64px;

}

.HeaderSection .Title {
    font-weight: 500;
    font-style: Medium;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -3%;
}

.HeaderSection .SubTitle {
    margin-top: 28px;
    font-weight: 400;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: -2%;
    margin-bottom: 64px;
}

.HeaderSection .FindNannyButton {
    padding: 18px 50px;
    width: fit-content;
    color: #FBFBFB;
    border: 1px solid #FBFBFB66;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

.HeaderSection .FindNannyButton:hover svg {
    transform: rotate(45deg);
}

.Content .InfoSection {
    width: 50%;
    background-color: rgba(18, 20, 23, 0.6);
    filter: brightness(0.6);
    background-image: url("../../assets/homePage.png");
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}