.Navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 96px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--primary-color);
}

.Content {
    margin-top: 80px;
    padding: 24px 96px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Navbar {
        background-color: var(--primary-color);
        padding: 0;
        flex-direction: column;
    }

    .NavbarTM {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0;
        background-color: var(--primary-color);
    }

    .NavbarTM .NavbarTop {
        padding: 20px 24px;
        display: inline-flex;
        align-items: center;
    }

    .NavbarTM .NavbarTop .NavbarAction {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .NavbarTM .NavbarTop .NavbarAction .MenuToggle {
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    .NavbarTM .NavbarBody {
        display: flex;
        flex-direction: column;
        gap: 1px;
    }
}

@media (max-width: 767px) {
    .Navbar {
        padding: 0;
        flex-direction: column;
    }

    .NavbarTM {
        display: flex;
        flex-direction: column;
        width: 100%;

        margin: 0;
        background-color: var(--primary-color);
    }

    .NavbarTM .NavbarTop {
        padding: 10px 24px;
        display: inline-flex;
        align-items: center;
    }

    .NavbarTM .NavbarTop .NavbarAction {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .NavbarTM .NavbarTop .NavbarAction .MenuToggle {
        cursor: pointer;
        color: white;
        font-size: 24px;
    }

    .NavbarTM .NavbarBody {
        display: flex;
        gap: 1px;
        flex-direction: column;
    }

    .Content {
        padding: 0px;
    }
}