.Navbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 96px;
    position: fixed;
    top: 0;
    z-index: 100;
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Navbar {
        padding: 0;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .Navbar {
        padding: 0;
        flex-direction: column;
    }
}