.ThemeToggle {
    background-color: var(--primary-color);
    border: none;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1%;
}


.ThemeToggle:hover {
    background-color: white;
    color: var(--primary-color);
    border: none;
}

.ThemeSelector {
    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: white;
    width: 80%;
    position: absolute;
    top: 75px;
    padding: 10px;
    list-style: none;
    border-radius: 20px;
}

.ThemeSelector .ThemeOption,
.ThemeSelector .ThemeOptionActive {
    padding: 10px 25px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
}

.ThemeSelector .ThemeOptionActive {
    background-color: var(--primary-color);
    color: white;
}

.ThemeSelector .ThemeOption:hover {
    background-color: var(--secondary-color);
    color: oklch(0% 0 0 / 0.847);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ThemeSelector {
        top: 90px;
        right: 0px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 45%;
    }
}

@media (max-width: 767px) {
    .ThemeSelector {
        top: 65px;
        width: 45%;
    }
}